<footer class="footer">
    <small>
        The <a href="http://www.charininnhotel.com">Charin Inn</a>
        by <a href="mailto:painjsimpson@gmail.com">Pain J Productions</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",   '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
        </ul>
    </nav>
</footer>
