<nav class="navbar navbar-dark bg-inverse navbar-fill d-flex h-100 align-items-center navbar-fixed-top">
    <%= link_to "Charin Inn", root_path, class: "navbar-brand" %>
    <ul class="navbar-nav nav-pills navbar-justify-end align-items-center h-100 d-flex">
        <li class="nav-item active" >
            <a class="nav-link" href="pages/home">Home</a>
        </li>
        <li class="nav-item" >
            <a lass="nav-link" href="pages/contact" >Contact</a>
        </li>
    </ul>
</nav>
